<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>CarParkingSystem</display-name>
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>SignUpController</display-name>
		<servlet-name>SignUpController</servlet-name>
		<servlet-class>src.com.controller.SignUpController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/SignUpController</url-pattern>
	</servlet-mapping>
<servlet>
		<description></description>
		<display-name>BookingController</display-name>
		<servlet-name>BookingController</servlet-name>
		<servlet-class>src.com.controller.BookingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingController</servlet-name>
		<url-pattern>/BookingController</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>src.com.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjaxHandler</servlet-name>
		<servlet-class>src.com.handler.AjaxHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxHandler</servlet-name>
		<url-pattern>/AjaxHandler</url-pattern>
	</servlet-mapping>
</web-app>